

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.active1{

  color: red;

}

@media (min-width: 1355px) {
  .container-fluid{
   /* width: 1350px;*/
  }
}



.file-input label {
	margin-top: 20px;
	margin-bottom: 20px;
  display: block;
  position: relative;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: 0.1px ridge black;
 /* font-family: Poppins,sans-serif;*/
  /*background: linear-gradient(40deg, #ff6ec4, #7873f5);*/
  box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.62);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /*font-weight: bold;*/
  cursor: pointer;
  /*transition: transform .2s ease-out;*/
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid black;
  outline: -webkit-focus-ring-color auto 2px;
}

.file-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

#zoom {
  
  
  transition: transform .3s; 
  /*background-color: rgba(109, 63, 83, 0.2);*/

   box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    border-bottom:1px solid rgba(191,191,191,0.5);
    border-right:1px solid rgba(191,191,191,0.5);
    cursor: pointer;
  
  /*width: 200px;
  height: 200px;
  margin: 0 auto;*/
}

#zoom:hover{


  transform: scale(1.01);
  /*background-color: rgba(109, 63, 83, 0.4); */

   box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 125, 0.288);
     border-bottom:1px solid rgba(191,191,191,0.5);
    border-right:1px solid rgba(191,191,191,0.5);
}

.goSubmit{

  border-radius: 6px;


  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 125, 0.288);
     border-bottom:1px solid rgba(191,191,191,0.5);
    border-right:1px solid rgba(191,191,191,0.5);

  
 








}




@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");






/** {
  
  

  outline: none;
  box-sizing: border-box;


  font-family: "Poppins", sans-serif;
}*/

.cont {
  background:white;
  padding: 20px;
  width:auto;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  outline: none;
  box-sizing: border-box;


  font-family: "Poppins", sans-serif;
}
.pagination1 {
  display: flex;
  list-style: none;
  margin: auto;
}
.pagination1 li {
  flex: 1;
  margin: 0px 5px;

  display: block;



  background:white;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination1 li a {
  font-size: 18px;
  text-decoration: none;
  

  color: #4d3252;
  height: 45px;
  width: auto;
  display: block;
  line-height: 45px;
  text-align: center;
}
.pagination1 li:first-child a {
  width: auto;
}
.pagination1 li:last-child a {
  width: auto;
}
.pagination1 li.active {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination1 li.active a {
  font-size: 25px;
  font-weight: 700;
  color: #6f6cde;
}
.pagination1 li:first-child {
  margin: 0 15px 0 0;
}
.pagination1 li:last-child {
  margin: 0 0 0 15px;
}

/*=========================================
*/

.select{

/*background: #dde1e7;*/

background:white;
  border-radius: 3px;
  /*box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);*/
  font-family: "Poppins", sans-serif;
   color: #4d3252;
   border:none;
   padding: 10px;
   
   margin-left: 20px;
   text-align: left;
   width: auto;
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);






}

#demo > h3::after{


    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    -moz-border-radius: 7.5px;
    /* -webkit-border-radius: 7.5px; */
    /* border-radius: 7.5px; */
   /* background-color: #00000029;*/
    position: absolute;
    margin-left: -1px;
    margin-top: 40px;
    border: 1px solid #00000029;

}

#submitWarning > .popuptext {

    visibility: hidden; 
    width: 69px;
    background-color: #5555558f;
    color: #f1ecec;
    text-align: center;
    border-radius: 6px;
    padding: 8px 11px;
    position: relative;
    z-index: 1;
    /* bottom: 125%; */
    left: -6%;
     margin-left: -30px; 
    /* margin-top: -51px; */
    top: -44px;
}

/*#submitWarning > .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}*/

#submitWarning:hover>.popuptext{

   visibility: visible;
  -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;


}



 /*.popuptext {
    
    width: 45px;
    background-color: #5555558f;
    color: #f1ecec;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    
    left: 30%;
   
    margin-top: -54px;
  }*/

.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5555558f transparent transparent transparent;
}


/*button#submitWarning::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
}*/

/*#demo > div > div.col-md-3.text-center.my-auto::before{

  content: "";
  display: inline-block;
       width: 15px;
       height: 15px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: #69b6d5;

}
#demo > div > div.col-md-3.text-center.my-auto::after{

  content: "";
  display: inline-block;
       width: 15px;
       height: 15px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: #69b6d5;

}*/

#demo > h3::before{

    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    -moz-border-radius: 7.5px;
    /* -webkit-border-radius: 7.5px; */
    /* border-radius: 7.5px; */
  /*  background-color: #00000029;*/
    position: absolute;
    margin-top: 40px;
    margin-left: -1px;
    border: 1px solid #00000029;

}

.x {

  background:white;

  border-radius: 3px;

  /*box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);*/

  font-family: "Poppins", sans-serif;

   color: #4d3252;
   border:none;
   padding: 8px;
   
   margin-left:1px;
   text-align: center;
   width: 50px;

   box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    


}

.header_class{



   box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

}

.header_class:hover{



   box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);

    

    font-size: 110%;
    font-weight: 500;
}

.header_class1 {



    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);

    

    font-size: 120%;

    font-weight: 700;
}

input[type="password"]::placeholder{

  text-align: left;






}



@media only screen and (max-width: 992px) {

  div.col-md-9 > div > div.comments{

min-width: 71%;

}




}

@media only screen and (min-width: 1200px) {

  
.cont-header{


  max-width: 1140px;
  margin:0 auto;
}



}

@media only screen and (min-width: 992px) {

  div.col-md-9 > div > div.comments{

min-width: 53%;

}

.cont-header{


  max-width: 1200px;
  margin: 0 auto;
}




}

@media only screen and (max-width: 991px) {

 

.cont-header{


  max-width: 895px;
  margin: 0 auto;
}




}


  




.homeUl > li > a {

    /*color: #007C00;*/
    text-decoration: none;
    /*background-color: aqua;*/
    padding: 0 10px;
    margin: 2px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    font-size: 50px;


}

.homeUl > li > ul > li > a{

/*color: red;*/
margin-left: 6px;


}

.homeUl > li > ul > li:hover>ul{

display: block;
    margin-top: -34px;

}

.homeUl > li > ul > li {
    margin-top: 10px;
    margin-left: -30px;
    text-align: left;

    }

    .homeUl > li > ul > li > ul > li {
    /*marginn-top: 24px;*/
    padding-top: 10px;
    /* padding-left: 25px; */
    margin-left: 10px;
}

/*body > div > div > ul > li> ul{

  background-color: yellow;
  list-style: none;
  display: none;
  width: 112px;
  position: absolute;
}*/

.lvl-1{

  /*background-color: yellow;*/
  list-style: none;
  font-family: "titillium web", Arial, sans-serif;
  display: none;
  width: 162px;
  position: absolute;
  float: left;
  box-shadow: inset -3px -3px 7px #ffffff73,
  inset 3px 3px 5px rgba(94, 104, 121, 0.288);
  transition: all 0.5s 0s ease;
  

}

.one {
    top: 0;
    transition: top ease 0.5s;
}

.one:hover{
    top: -10px;
}



.horizontal {



  left:100%;
  margin-top: -23px;
}

.homeUl > li:hover> ul,body > div > div > ul > li:focus> ul,body > div > div > ul > li:active> ul{

  /*background-color: yellow;*/

  list-style: none;

  display: block;

   box-shadow: inset -3px -3px 7px #ffffff73,

  inset 3px 3px 5px rgba(94, 104, 121, 0.288);

  transition-delay:0.5s;
  
}

.homeUl > li > ul > li > ul > li > a {

/*color: green;*/

margin-left: -31px;


}

/*body > div > div > ul > li > ul > li > ul{

  list-style: none;
    position: absolute;
    top: -8px;
    background-color: burlywood;
    left: 100%;
    width: 85px;
    display: none;
    float: left;


}*/

.lvl-2{

  list-style: none;
    position: absolute;
    top: -8px;
    background-color: burlywood;
    left: 100%;
    width: 85px;
    display: none;
    float: left;





}




.homeUl > li > a:hover {

   /* color:aqua;*/
    text-decoration: none;
    /*background-color:green;*/
    padding: 0 10px;
    margin: 2px;
   /* font-size: 105%;*/
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);



}

.homeUl{

/*margin-top: 35px;*/
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    margin-left: -31px;

}

.homeUl > li > ul > li > a:hover{

text-decoration: none;
font-size: 110%;




}

ul.first-col,ul.second-col,ul.third-col {

    margin: 0;
    list-style: none;
    width: 33.3333333%;
    float: left;
    padding-left: 0px;
    margin-top: 3px;

}

ul.first-col > li > ul,ul.second-col > li > ul,ul.third-col > li > ul{

list-style: none;


}

ul.first-col > li > ul,ul.second-col > li > ul,ul.third-col > li > ul{

margin-left: -40px;



}

ul.first-col > li > a,ul.second-col > li > a,ul.third-col > li > a{

text-transform: uppercase;
text-decoration: none;
font-weight: 600;


}

ul.first-col > li > a:hover,ul.second-col > li > a:hover,ul.third-col > li > a:hover{

/*color: green;*/
font-size: 120%;

}

ul.first-col > li > ul > li > a,ul.second-col > li > ul > li > a,ul.third-col > li > ul > li > a{

text-decoration: none;

}

ul.first-col > li > ul > li > a:hover,ul.second-col > li > ul > li > a:hover,ul.third-col > li > ul > li > a:hover{

color: green;
font-size: 110%;

}

.homeUl > li > div{

display: none;


}

.homeUl > li:hover > div{

display: block;


}

.frm-url-container {
  border: #ced1d4 1px solid;
  border-radius: 4px;
  max-width: 550px;
  padding: 5px;
  position: relative;
}

.url-input {
  width: 100%;
  border: none;
  height: 25px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 30px;
  min-height: 50px;
}

.url-input:focus {
  outline: none;
}

.image-container {
  position: relative;
  z-index: 1;
}

.image-preview {
  width: 100%;
  margin-right: 100px;
}

.image-preview img {
  width: 100%;
  /*height: 340px;*/
}

#loader {
  position: absolute;
  right: 10px;
  margin-top: -12px;
  width: 16px;
  height: 24px;
  top: 50%;
  display: none;
}

#output {
  display: none;
}

.page-title {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 30px;
}

.text-data {
  margin-top: 20px;
}

#full_image:hover{


  transform:scale(1.2,1.2);
}

#delete_image:hover{



  transform:scale(1.2,1.2);
}




.deleteComment{
        height: fit-content;
        cursor: pointer;
        border:none;
        /*margin-top: -1px;*/
        position: absolute;
        margin-left: 1064px;
       margin-top: -13px;
               
}

@media only screen and (min-width: 767px) and (max-width: 1024gpx)

      
 {
  .deleteComment {
    margin-left: 641px;
    
  }
}





.full_delete_div{

  display: none;
}

#gallery{

  cursor: pointer;
}

#gallery:hover{

  transform:scale(1.1,1.1);


}

.fa-2x {
    font-size: 18px;
}

#gallery:hover .full_delete_div{



display:block;



}

/*.w3-animate-zoom {
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    
}*/

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 1158px;
  /*  height: 872px;*/


}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;


   
    margin-bottom: 20px;
    margin-left: -6px;


    position: relative;
    margin-top: 12px;




}

.buttons #closeButton{
  margin-left: 204px;
}

.buttons button {

  margin-left:5px;
  /*border-radius: 19px;*/

  
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;


    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
   /* font-family: "JetBrains Mono",monospace;*/
    height: 48px;


    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;


    padding-right: 16px;


    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.sidebar {
  width: 330px;


    
    height: 100%;
    position: absolute;
    margin-left: 15px;


    margin-top: 17px;
    border:1px solid #281d1d36;


 
}

input[type=checkbox] {
    transform: scale(1.5);
}



.filter>form > li > label {

   margin-left: 9px;


    font-size: 19px;



}

.comments_number{

  position: absolute;
    font-weight: 800;
    margin-top: -16px;


    margin-left: -16px;


    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgb(94 104 121 / 29%);
   /* border-top: none;
    border-left: none;*/
    width: 25px;


    text-align: center;



}

#divModal {

    width: 100%;
  /*  text-align: center;   */
     margin-top: -92px;
   /* padding-top: 77px;
    padding-bottom: 77px;*/
    overflow: auto;
    height: 570px;
    padding: 46px 57px;



}

ul#nav-list>li {
    padding-right: 5px;
}

a:hover {
  
    text-decoration: none;
}

.countStyle{

  font-size: 21px;
    font-weight: 500;
    color: blue;
}












